<section id="move-header" class="floating-header">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-2 small-4 cell hide-for-large">
        <a href="/">
          <img class="logo-horizontal" src="{{root}}/assets/img/logo_horizontal.svg">
        </a>
      </div>
      <div class="large-offset-5 large-5 medium-8 cell header hide-for-small-only">
        <span class="right open-button">
          <a href="/#projects">Projects</a>
          <a href="/#about">About</a>
          <a href="{{root}}/assets/Chetan_Keshav_resume.pdf" target="_blank">Contact</a>
        </span>
      </div>
    </div>
  </div>
</section>