  <footer>

	<div class="grid-container">
	<div class="grid-x grid-margin-x">
	  <div class="large-8 large-offset-2 cell">
		
		Designed and Developed by Chetan Keshav &#169 2019

		<div class="right">
			<a href="https://www.linkedin.com/in/kchetan92/" target="_blank" >Linkedin</a>
			<a href="https://www.behance.net/kchetan92" target="_blank" >Behance</a>
			<a href="https://github.com/kchetan92" target="_blank" >Github</a>
			<a href="https://www.instagram.com/kchetan92/" target="_blank" >Instagram</a>
	    	<a href="/assets/Chetan_Keshav_resume.pdf" target="_blank" >Resume</a>
	  	</div>


	    </div>
	  </div>
	</div>
</footer>