<div class="grid-x grid-margin-x project-container">
  <div class="large-5 large-offset-1 medium-8 small-12 project ">
    <a class="tile" href="/project/gale">
      <img src="../assets/img/gale/gale_tile.png" alt="">
      <p>Transcription & Collaboration</p>
    </a>
  </div>
  <div class="large-5 medium-8 small-12 project">
    <a class="tile" href="/project/athletejuvo">
      <img src="../assets/img/athletejuvo/athlete_tile.png" alt="">
      <p>AthleteJuvo</p>
    </a>
  </div>
  <div class="large-5 large-offset-1 medium-8 small-12 project ">
      <a class="tile">
        <img src="../assets/img/gale/gale_tile.png" alt="">
        <p>Transcription & Collaboration</p>
      </a>
    </div>
    <div class="large-5 medium-8 small-12 project">
      <a class="tile">
        <img src="../assets/img/gale/gale_tile.png" alt="">
        <p>TWASD: Indoor Navigation</p>
      </a>
    </div>
  <!-- <div class="large-5 large-offset-1 medium-8 small-12 project">
    <a href="/project/athletejuvo" class="tile athleteJuvo">
      <p>AthleteJuvo</p>
    </a>
  </div>
  <div class="large-5 medium-8 small-12 project">
    <a href="/project/brand" class="tile brand">
      <p>Personal Branding</p>
    </a>
  </div> -->
</div>