<div class="grid-x grid-margin-x project-container">
  <div class="large-6 medium-8 small-12 project ">
    <a href="/project/wasd" class="tile wasd">
      <p>WASD: Indoor Navigation</p>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="/project/athletejuvo" class="tile athleteJuvo">
      <p>AthleteJuvo</p>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="/project/water-transition" class="tile water">
      <p>Water Connection Transition</p>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="https://paper.dropbox.com/doc/ReuKnight-vyxl1HyeY4UyZUDz6GKN9" class="tile reuknight">
      <p>ReuKnight</p>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="/project/brand" class="tile brand">
      <p>Personal Branding</p>
    </a>
  </div>
</div>