<div class="grid-x grid-margin-x project-container">
  <div class="large-6 medium-8 small-12 project ">
    <a href="/project/wasd" class="tile wasd">
      <h3>WASD: Indoor Navigation</h3>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="/project/athletejuvo" class="tile athleteJuvo">
      <h3>AthleteJuvo</h3>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="/project/water-transition" class="tile water">
      <h3>Water Connection Transition</h3>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="https://paper.dropbox.com/doc/ReuKnight-vyxl1HyeY4UyZUDz6GKN9" class="tile reuknight">
      <h3>ReuKnight</h3>
    </a>
  </div>
  <div class="large-6 medium-8 small-12 project">
    <a href="/project/brand" class="tile brand">
      <h3>Personal Branding</h3>
    </a>
  </div>
</div>