$theme-green: #40bca9;
$theme-orange: #f54123;
$theme-grey-bg: #efefef;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

@font-face {
	font-family: 'Circular Std Bold';
	font-style: normal;
	font-weight: normal;
	src: url('/assets/fonts/circular/CircularStd-Bold.woff') format('woff');
	
}

@import url('https://rsms.me/inter/inter.css');

%inter {
	font-family: 'Inter', sans-serif;
}

%serif {
	font-family: 'Domine', serif;
}

%sans-serif {
	font-family: 'Nunito', sans-serif;
}

%circular-bold {
	font-family: 'Circular Std Bold', sans-serif;
}

%green-blue-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4bc6b8+0,49b5c1+100 */
    background: rgb(75,198,184); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(75,198,184,1) 0%, rgba(73,181,193,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(75,198,184,1) 0%,rgba(73,181,193,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(75,198,184,1) 0%,rgba(73,181,193,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bc6b8', endColorstr='#49b5c1',GradientType=0 ); /* IE6-9 */
}

%plum-plate {
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

%yellow-gradient {
	background-color: #fbb034;
	background-image: linear-gradient(0deg, rgba(254,134,24,1),  rgba(255,197,27,1) 88.8%);
}

%yellow-gradient-radial {
	background-image: radial-gradient( circle 100vw at 52.7% 55%,  rgba(255,197,27,1) 0%, rgba(254,134,24,1) 88.8% );
}

%st-petersberg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f7fa+0,c3cfe2+100 */
	background: #f5f7fa; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f5f7fa 0%, #c3cfe2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f5f7fa 0%,#c3cfe2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f5f7fa 0%,#c3cfe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7fa', endColorstr='#c3cfe2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

%heavy-rain {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2ebf0+0,cfd9df+100 */
background: rgb(226,235,240); /* Old browsers */
background: -moz-linear-gradient(top, rgba(226,235,240,1) 0%, rgba(207,217,223,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(226,235,240,1) 0%,rgba(207,217,223,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(226,235,240,1) 0%,rgba(207,217,223,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ebf0', endColorstr='#cfd9df',GradientType=0 ); /* IE6-9 */
}

