@import "constants";


.header {
    @include breakpoint(large) {
        text-align: right;
    }
    display: block;
}

.open-button {
    @extend %sans-serif;
	a {
		color: #4a4a4a;
		text-decoration: none;
		margin-left: 12px;
		margin-top: 20px;

		padding: 0 2px 7px 20px;
		//border-bottom: 4px solid #000;
	}
}

.logo {
	height: auto;
	@include breakpoint(medium down) {
		width: 120px;
	}
}

.title-image img {
	max-width: 120px;
	@include breakpoint(medium down) {
		max-width: none;
		height: 60px;
	}
}

.top-bg {
    @extend %st-petersberg;
    @include breakpoint(large) {
        border: 5vh white solid;
        height: 100vh;
    }
	width: 100%;
    border: 0;
    position: relative;
}

.top-logo {
    @include breakpoint(large) {
        padding: 5vh 5vh 0;
    }
    padding: 7vw 5vw 0;
	
	img {
		width: 200px;
		height: auto;
		float: left;
	}
	header {
		float: right;
	}
}

#introduction {
    @include breakpoint(large) {
        margin-top: 170px;
    }
    margin: 20vw 5vw 0;
    padding-bottom: 20vw;
    color: #353535;
    .hi img {
        padding: 30px 0;
    }
    .subtitle {
        @extend %sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 30px;
        line-height: 1.415;
        margin: 0;
        p {
            margin: 0;
        }
        .underline{
            position: relative;
            display: inline-block;
            z-index: 10;
            &:before {
                content: '';
                width: 100%;
                height: 6px;
                border-radius: 20px;
                opacity: 0.5;
                display: inline;
                position: absolute;
                background: $theme-green;
                left: 0;
                bottom: 10px;
                z-index: -1;
            }
        }
    }
}

.blade-cover {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.blade {
    width: 3px;
    height: 19px;
    border-radius: 10px;
    background: #f0f3f7;
    &.color {
        background: $theme-green;
    }
}

.field {
    font-size: 0;
    display: block;
    position: absolute;
    bottom: 2vh;
    right: 2vh;
}

#projects {
    @include breakpoint(large) {
        margin-top: 200px;
    }
    margin: 20vw 5vw 0;
    overflow-x: visible;
    @extend %sans-serif;
    p {
        margin: 0;
    }
    .project-title {
        font-size: 32px;
        color: #353535;
        margin: 30px 0;
    }
    .description {
        font-size: 20px;
        color: #767676;
    }
    .project {
        @include breakpoint(large) {
            margin-bottom: 300px;
        }
        margin-bottom: 100px;
    }

    .image-container {
        position: relative;
        img {
            z-index: 10;
            position: relative;
        }
        
    }

    .right {
        text-align: right;
    }

    .gale {
        img {
            @include breakpoint(large) {
                height: 260px;
            }
            width: auto;
            margin: 20px 0;
        }
        .image-bg img {
			position: absolute;
			left: -20%;
			top: -28%;
			z-index: 0;height: 137%;
        }
        .image-container {
            @include breakpoint(large) {
                margin-top: 0;
            }
            margin-top: 50px;
        }
    }

    .chi {
        margin-bottom: 400px;
        img {
            @include breakpoint(large) {
                width: 200px;
                height: auto;   
                max-height: inherit;
                left: 140px;
                top: -72px;
            }
            position: absolute;
            max-height: 300px;
            width: auto;
            transform: rotate(10deg);
        }
        .image-bg img {
            position: absolute;
            left: -2%;
            top: -86%;
            z-index: -1;
            height: 300%;
            width: auto;
		}
    }
    .brushybuddy {
        margin-bottom: 500px;
        img {
            @include breakpoint(small up) {
                height: 400px;
                top: -40px;
            }
            top: 20px;
            width: auto;   
            position: absolute;
            left: 0;
        }
        .image-bg img {
            position: absolute;
            left: -16%;
            top: -32%;
            z-index: -1;
            height: 230%;
		}
    }
}