.bg-gif1 {
    background-position: -230px -10px;
}


.bg-gif2 {
    background-position: -670px -230px;
}


.bg-gif3 {
    background-position: -10px -230px;
}


.bg-gif4_01 {
    background-position: -230px -230px;
}


.bg-gif5_01 {
    background-position: -450px -10px;
}


.bg-gif6_01 {
    background-position: -450px -230px;
}


.bg-gif7_01 {
    background-position: -10px -450px;
}


.bg-gif8_01 {
    background-position: -230px -450px;
}


.bg-gif9_01 {
    background-position: -450px -450px;
}


.bg-gif10_01 {
    background-position: -670px -10px;
}


.bg-gif11_01 {
    background-position: -10px -10px;
}


.bg-gif12_01 {
    background-position: -670px -450px;
}


.bg-gif13_01 {
    background-position: -10px -670px;
}


.bg-gif14_01 {
    background-position: -230px -670px;
}


.bg-gif15_01 {
    background-position: -450px -670px;
}


.bg-gif16_01 {
    background-position: -670px -670px;
}


.bg-gif17_01 {
    background-position: -890px -10px;
}


.bg-gif18_01 {
    background-position: -890px -230px;
}


.bg-gif19_01 {
    background-position: -890px -450px;
}


.bg-gif20_01 {
    background-position: -890px -670px;
}

.brand .Wallop-item {
    background-image: url('/assets/img/brand/gif_sprites.png');
    width: 200px;
    height: 200px;
}